@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  body {
    @apply bg-white dark:bg-slate-950 text-gray-900 dark:text-slate-100 font-sans antialiased transition-colors duration-500;
  }
}
